
 
 
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .foto {                     
    width: 250px;
    height: 250px;
    
    
}

.header .titulo {
    text-align: center;
    font-family: 'NeueMachina';
    
}
 
     
     
     
.informacoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;    
}

.informacoes p {
    margin: 0.5rem;
    position: relative;
    padding-left: 30px;
}

.informacoes p::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;       
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;  
    background-size: contain;
    
    
}
.informacoes .pessoa::before{
    background-image: url('/assets/imagens/icons/pessoa.svg');
}
.informacoes .local::before {
    background-image: url('/assets/imagens/icons/local.svg');
}
.informacoes .whatsapp::before{
    background-image: url('/assets/imagens/icons/whatsapp.svg');
}
.informacoes .email::before{
    background-image: url('/assets/imagens/icons/email.svg');
}
 
@media only screen and (min-width: 768px){
    .header {
        display: grid;
        grid-template-areas: "foto titulo"
        "foto informacoes";
            
    }

    .header .foto{
        grid-area: foto;
        margin: 0 auto;
    }

    .header .titulo{
        grid-area: titulo;
        text-align: start;
        max-width: 200px;

    }

    .header .informacoes{
        grid-area: informacoes;
    }
    
}

 .informacoes .whatsapp a{
    color: #fff;
    text-decoration: none;
 }
 .informacoes .email a{
    color: #fff;
    text-decoration: none;
 }
 .informacoes .pessoa a{
    color: #fff;
    text-decoration: none;
 }
